{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>View Users</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/userlist.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href=".">Credit Management System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'users_list' %}">Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'history_url' %}">Credit History</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'add_user' %}">Add User</a>
				</li>
			</ul>
		</div>
	</nav>

	
	<div class="container container2">
		
			<h2>User List</h2>
		
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Credits</th>
						<th scope="col">Profile</th>
					</tr>
				</thead>
				{% for user in data %}
					<tr>
						<td scope="row">{{ user.username }}</td>
						<td>{{ user.credits }}</td>
						<td> 
							<a class="btn btn-dark" href="transfer/profile/{{ user.id }}/" role="button">View</a> 
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	

</body>
</html>



