body{
	background: url('/static/images/home.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}



.credit{
	margin: auto;
	font-family: monospace;
	text-align: center;
	
}
