body{
	background:url('/static/images/home.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

.container2{
	margin: auto;
	text-align: center;
	padding: 30px;
	
}

thead{
	background: #D3CCE3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

table{
	font-size: 1.3rem;
	font-family: monospace;
	max-width: 70%;
	margin: auto;
	background: white;
}

h2{
	color: white;
	font-family: monospace;

}


